---
import Accessories from "../components/Accessories.astro";
import HeroSection from "../components/HeroSection.astro";
import LandingHeader from "../components/LandingHeader.astro";
import Nosotros from "../components/Nosotros.astro";
import Oferta from "../components/Oferta.astro";
import Cafeteria from "../components/Cafeteria.astro";
import Ambiente from "../components/Ambiente.astro";
import TiendaPlantas from "../components/TiendaPlantas.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Orgánica café + plantas">
  <LandingHeader />

  <main
    class="snap-y snap-mandatory relative w-full h-screen overflow-y-auto overflow-x-hidden scroll-smooth"
  >
    <div class="snap-center">
      <HeroSection />
    </div>
    <div class="snap-center">
      <Nosotros />
    </div>
    <div class="snap-center">
      <Oferta />
    </div>
    <div class="snap-center">
      <Cafeteria />
    </div>
    <div class="snap-center">
      <Ambiente />
    </div>
    <div class="snap-center">
      <TiendaPlantas />
    </div>
    <div class="snap-center">
      <Accessories />
    </div>
  </main>
</Layout>
