---
import Section from "./Section.astro"
---

<Section
  title="Disftute de Organica café y plantas"
  subtitle="Cafetería especializada en productos y postres"
  color="white"
  id="home"
>

  <div slot="footer" class="gap-x-6 flex mx-auto">
    <a
      href="#"
    >
      <img src="./tiktok.svg" alt="" width="50" height="50" />
    </a
    >
    <a
      href="#"
    >
      <img src="./instagram.svg" alt="" width="55" height="55" />
    </a
    >
    <a
      href="#"
    >
      <img src="./fb.svg" alt="" width="55" height="55" />
    </a
    >
  </div>

  <video
    slot="background"
    class="object-center object-cover h-full w-full"
    autoplay
    muted
    loop
    src="/video.webm"></video>
</Section>
