---
import Section from "./Section.astro"
---

<Section
  title="Disftute de Organica café y plantas"
  subtitle="Cafetería especializada en productos y postres"
  color="white"
  id="home"
>
  <video
    slot="background"
    class="object-center object-cover h-full w-full"
    autoplay
    muted
    loop
    src="/video.webm"></video>
</Section>
