---
import Section from "./Section.astro"
---

<Section
  title="Ofrecemos"
  subtitle="Una selección de plantas de interior, arreglos de orquídeas y anturios, suculentas, macetas y accesorios para el cuidado de las plantas"
  color="black"
  id="model-3"
>
  </div>
    <div slot="footer" class="gap-x-6 flex mx-auto">
    <a
      class="border-[3px] border-gray-600 bg-gray-600 text-sm rounded font-medium text-white px-12 py-2 inline-block transition-colors hover:border-gray-500 hover:bg-gray-500"
      href="#"
    >
      Cafetería</a
    >
    <a
      class="border-[3px] border-gray-600 bg-gray-600 text-sm rounded font-medium text-white px-12 py-2 inline-block transition-colors hover:border-gray-500 hover:bg-gray-500"
      href="#"
    >
      Ambiete Natural</a
    >
    <a
      class="border-[3px] border-gray-600 bg-gray-600 text-sm rounded font-medium text-white px-12 py-2 inline-block transition-colors hover:border-gray-500 hover:bg-gray-500"
      href="#"
    >
      Tienda de Plantas</a
    >
  </div>

  <img
    slot="background"
    alt="Model 3"
    class="h-full w-full object-cover object-center"
    src="oferta.jpg"
  />
</Section>

<script>
  function isEdge() {
    if (
      navigator.userAgent.indexOf("Edge") > -1 ||
      navigator.userAgent.indexOf("Edg") > -1
    ) {
      return true
    } else {
      return false
    }
  }

  let imageElement = document.querySelector(
    "#bg-image-model3"
  ) as HTMLImageElement

  if (isEdge()) {
    imageElement.src = "model-3.webp"
  } else {
    imageElement.src = "model-3.avif"
  }
</script>
